#optionWrapper {
	width: 500px;
	color: #fff000;
	margin: auto;
	background: hsla(0, 1%, 40%, 1); /*transparency*/
	padding: 50px 30px 30px;
	border: 5px solid #000000;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 1px; /*rounded border*/
}

img {
	vertical-align: top; /* Add this to not to display a space*/
	border-style: solid;
	border-color: #ffffff;
	border-width:2px;
}

#title{
	vertical-align: bottom;
	font-weight:bold;
	margin-left: 30px;
}

#movieAdmin {
	display: inline-block;
	vertical-align: middle;
	margin-left: 30px;

}

#blogAdmin {
	display: inline-block;
	vertical-align: middle;
	margin-left: 30px;

}

#userAdmin {
	display: inline-block;
	vertical-align: middle; margin-left : 30px;
	margin-left: 30px;

}

