/* Tables 
-------------------------------------------------------------- */
table {
	float:left;
	margin-bottom: 1.4em;
	margin: 0 auto;
}

th {
	font-weight: bold;
	background: black;
	color: white;	
}

th,td,caption {
	padding: 4px 5px 4px 5px;

 
}


tbody tr:nth-child(even) td {
	background: #E1DAD4;
}

tbody tr:hover td {
	background: #ffffff;
}

tfoot {
	font-style: italic;
}

caption {
	text-align: left;
	color:#ffffff;
	background: #000000;
}

#userDataWrapper{
	float:left;
	width:400px;
	overflow:auto;
}

#userItem img{
	margin: 0 auto;
	margin-bottom: 30px;
	border-style:solid;
	border-width:1px;
	border-color:#000000;
}

#userEntry{

    float:left; 
	width:600px; 
	height:300px;
}

